.container{
    width: 500px;
    margin: 100px auto;
    border: 1px solid #ddd;
    padding: 1rem;
    background: #292929;
    border-radius: 5px;
    color: #fff;
}
.meta{
    display: flex;
}
.meta > .month {
    margin-left: auto;
}